<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Publish</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
    <h1>Hello authenticated <span th:text="${#authentication.name}"></span></h1>
    <form method="POST" action="#" th:action="@{/message}" th:object="${message}">
        <p>Topic: <input type="text" th:field="*{topic}" /></p>
        <p>Message: <input type="text" th:field="*{message}" /></p>
        <p><input type="submit" value="Publish" /></p>
    </form>
</body>
</html>