<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Published</title>
	<meta charset="utf-8">
</head>

<body>
	<h1>Message published</h1>
	<p th:text="'topic: ' + ${message.topic}" />
	<p th:text="'message: ' + ${message.message}" />
	<a href="/message">Publish another message</a>
</body>
</html>